{% extends 'P5TodolistBundle::layout.html.twig' %}

{% block p5todolist_body %}
<div>
	<table class="table table-striped">
		<tr>
			<th class="col-md-3" id="hidetitle">Titre</th>
			<th class="col-md-3" id="hide">Ajouté le</th>
			<th class="col-md-3">To Do</th>
			<th class="col-md-3">Date de rappel</th>
			<th class="col-md-3">Options</th>
		</tr>

		{% for remind in entirelist %}

		<tr>
			<td class="hidetitle2 wrap">{{remind.title}}</td>
			<td class="adddate wrap">{{remind.date|date("d-m-Y")}}</td>
			<td class="wrap" id="content">{{remind.content}}</td>
			
			<td class="wrap">
				{% if remind.remind == false %}
					Non programmé.
				{% else %}
					{{remind.dateofend|date("d-m-Y")}}
				{% endif %}
			</td>
			<td>
				<a href="{{ path('p5_todolist_edit', {'id' : remind.id }) }}" class="btn btn-warning btn-sm" role="button" id="Edit" title="Editer"><i class="fas fa-pen"></i></a> 
				<a href="{{ path('p5_todolist_delete', {'id' : remind.id }) }} " class="btn btn-danger btn-sm" role="button" id="Suppr" title="Supprimer"><i class="fas fa-trash-alt"></i></a>
			</td>
		</tr>	

		{% endfor %} 
	</table>
</div>

{% if nbPages > 0 %}

	<ul class="pagination">
  
 		 {% for p in range(1, nbPages) %}
  
    	<li{% if p == page %} class="active"{% endif %}>
      		 <a href="{{ path('p5_todolist_view', {'page': p}) }}"> {{ p }}</a>
    	</li>
  		
  		{% endfor %}	
	</ul>

{% else %}

<p> Vous n'avez pas de rappel enregistré pour le moment. </p>

{% endif %}

{% endblock %}