{% extends 'P5TodolistBundle::layout.html.twig' %}

{% block p5todolist_body %}

<table>
	<tr>
		<th>Titre</th>
		<th>Ajouté le</th>
		<th>To Do</th>
		<th>Date limite</th>
		<th>Option</th>
	</tr>

{% for remind in entirelist %}

	<tr>
		<td>{{remind.title}}</td>
		<td>{{remind.date|date("d-m-Y")}}</td>
		<td>{{remind.content}}</td>
		<td>{{remind.dateofend|date("d-m-Y")}}</td>
		<td><a href="{{ path('p5_todolist_edit', {'id' : remind.id }) }} ">Editer</a> <a href="{{ path('p5_todolist_delete', {'id' : remind.id }) }} ">Supprimer</a></td>
	</tr>	

{% endfor %} 

</table>

{% endblock %}